@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bazar.NET</h1>
    <div class="left">
        <p class="lead">Líderes en Productos para el hogar.</p>
        <p>Tienda Online ofrece a todo el país una variada cantidad de artículos de bazar y distinguidos accesorios para decorar el hogar.</p>
        <p>AV. RIVADAVIA 3940 - ALMAGRO</p>
        <p>Tel: <a href="tel:011-5665-6681">011-5665-6681</a></p>
    </div>
    <div class="right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.697764203563!2d-58.423696185194885!3d-34.61180336543213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca5ef36be339%3A0xb6e1af0d8a0224d1!2sAv.+Rivadavia+3940%2C+C1204AAR+CABA!5e0!3m2!1ses-419!2sar!4v1560815193997!5m2!1ses-419!2sar" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Seguinos en</h2>
        <p class="social-icons">
            <a href="https://www.facebook.com/Buenos-Aires-Bazar-153929775463436/" target="_blank">
                <img src="~/images/facebook.png" />
            </a>
            <a href="https://www.twitter.com/Buenosairesbazaronline/" target="_blank">
                <img src="~/images/twitter.png" />
            </a>
            <a href="https://www.instagram.com/Buenosairesbazaronline/" target="_blank">
                <img src="~/images/instagram.jpg" />
            </a>
        </p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>